body {
	background:url(background.png);
}

#mainMenu {
	list-style-type:none;
	background-position:bottom;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn-group {
  /*background-color: #e598d8;  Green background */
  background-color: #2c346b;
  /*border: 1px solid #ff66c4;  Green border */
  border:none;
  color: white; /* White text */
  padding: 10px 24px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 20%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  
  font-size:17px;
  margin-bottom:1em;
  margin-left:auto;
  margin-right:auto;
  font-family:'Open Sans';
  border-radius:6px;
  
  
}

.btn-group:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group:hover {
  background-color: #a0f8ee;
	color:#272727;
}

#bikeButton {
	float:right;
	margin-right:20px;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 6px;
  text-align:center;
  overflow:auto;
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(3);
	padding: 20px;
	grid-column-gap:20px;
	width:75%;
	margin:auto;
	
}

.grid-article {

}
#right {
	border-radius:6px;
	padding:0px;
	grid-row:1;
	grid-column:2;
	border:1px solid black;
}

#leftTop {
	border-radius: 6px 6px 0px 0px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#leftMid {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#leftBottom {
	border-radius: 0px 0px 6px 6px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.select {
	display: grid;
	grid-column-gap: 1px;
	grid-template-columns: auto auto auto;
	background-color: #a0f8ee;
	align-items:center;
	justify-items:center;
	grid-column:1;
}

.grid-item {
	
	border: 1px solid black;
	padding: 20px;
	text-align: center;
	margin:1em;
	
	font-size:17px;
	font-family:'Open Sans';
	border-radius:6px;
	max-width:100px;
}

.grid-select {
	grid-row: 2;
}

.page-head {
	text-align: center;
	font-family: Teko;
	font-size: 80px;
	color: #272727;
	margin-bottom:2px;
}

#first {
	grid-area:first;
	background-color : green;
}

#second {
	grid-area:second;
	background-color : green;
}

#third {
	grid-area:third;
	background-color : green;
}

#image1 {
	grid-area:image1;
}

#image2 {
	grid-area:image2;
}

#image3 {
	grid-area:image3;
}

#fourth {
	grid-area:fourth;
	background-color : green;
}

#fifth {
	grid-area:fifth;
	background-color : green;
}

#sixth {
	grid-area:sixth;
	background-color : green;
}

.grid-wrap-learn {
	display:grid;
	grid-template-areas:
		'first first first first second second'
		'third third third third third third'
		'image1 image1 image2 image2 image3 image3'
		'fourth fourth fourth fourth fourth fourth'
		'fifth fifth sixth sixth sixth sixth';
	grid-gap: 10px;
	padding: 10px;
	text-align:center;
	margin-left: 100px;
	margin-right: 100px;
}

.imageRow {
	grid-column-gap: 50px;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	padding: 10px;
	
}

.desc-style {
	text-align:center;
	font-size:20px;
	font-family:'Open Sans';
	color:#272727; 
	width:75%;
	margin:auto;
	margin-bottom:10px;
}

.leaderboard {
	display:grid;
	grid-template-columns:auto auto auto;
	background-color: red;
	margin:auto;
	width:30%;
	height:200px;
	margin-bottom:1em;
	padding:5px;
	overflow:auto;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	background-color: #a0f8ee;
	border-radius:6px;
}

.name-item {
	background-color:pink;
	text-align:center;
	font-family:'Open Sans';
	border-radius:6px;
	font-size:17px;
	grid-column:1/3;
	padding:10px;
	
}

.score-item {
	background-color:pink;
	text-align:center;
	font-family:'Open Sans';
	border-radius:6px;
	grid-column:3;
	font-size:17px;
	padding:10px;
	
}

#showName {
	background-color:grey;
}

#showScore {
	background-color:grey;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: blue; 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
